<style>
  a { color: #0035ff; }
  button { color: #fff; background-color: #4a5568; border-radius: 0.25rem; padding: 0.5rem 1rem; }
  .frame-number { font-size: 5rem; }
  .split { width: 75%; text-align: center; padding: 0; }
  table {

    font-family: "Open Sans", sans-serif;
    line-height: 1.25;

    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }

  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }

  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }

  table th,
  table td {
    padding: .625em;
    text-align: center;
    vertical-align: top;
  }

  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }


  td img { height: 150px; }

  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }

    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  
  
  }
</style>
{% set video_short_path = data.video_path.split('/')[-1][:-4] %}
<div>
  <h2 class="text-lg font-semibold mb-4">Names</h2>
  <table id="trackerNamesTable">
      <thead>
          <tr>
              <th>Players</th>
          </tr>
      </thead>
      <tbody>
        {% for name, ids in data.tracker_names.items() %}
          <tr>
              <td>
                <button onclick="removePlayer('{{ name }}')">Remove</button>
              </td>
              <td>
                <input id="tracker_name_{{ name }}" type="text" value="{{ name }}" onchange='changeTrackerName("{{ name }}", this.value, "{{ data.video_path }}")'>
              </td>
              <td>
                <button onclick='loadAnnotationTable(null, { skip: 10, name_filter: "{{ name }}" });'>Show Frames</button>
              </td>
              <td>
                <a href="/player_stats/{{ video_short_path }}.mp4?player={{ name }}"><button>Frame Details</button></a>
              </td>
              <td>
                <button onclick='var img = document.createElement("img"); img.src = "/player_movies/{{ data.video_path.split('/')[-1][:-4] }}_{{ name }}.gif"; img.width = "100"; this.parentNode.appendChild(img);'>Show GIF</button>
              </td>
          </tr>
        {% endfor %}
          <tr>
              <td><input id="new_tracker_name" type="text" placeholder="Enter new name"></td>
              <td><button onclick='addTrackerName(document.getElementById("new_tracker_name").value, "{{ data.video_path }}")'>Add</button></td>
          </tr>
      </tbody>
  </table>

  <h2 class="text-lg font-semibold mb-4">Frame Summary</h2>
  <button id="refresh_annotation">Refresh</button>
  <button id="load_new_frames">Selected Frames</button>
  <button id="load_all_frames">All Frames</button>
  <br />

  <label>Distance Anomalies: 
    <label>Distance Threshold: 
      <input id="distance_anomoly_threshold" type="text" value="{{ query_params.distance_anomoly_threshold }}">
  </label><br />
  <label>Tracker ID filter: <input id="tracker_id_filter" type="text" value="{{ query_params.tracker_id_filter }}"></label><br />
  <labe>Double Only: <input id="double_only" type="checkbox" value="true" {{ "checked" if query_params.double_only == 'true' }}></label><br />
  <label>Name filter: 
    <select id="name_filter">
      <option value="all" {% if "all" == query_params.name_filter %}selected{% endif %}>All</option>
      {% for name in data.tracker_names.keys() %}
        <option value="{{ name }}" {% if name == query_params.name_filter %}selected{% endif %}>{{ name }}</option>
      {% endfor %}
    </select>
  </label><br />
  <label>Total Objects: <input id="total_objects" type="number" value="{{ query_params.total_objects }}"></label><br />
  <label>Skip: <input id="skip" type="number" value="{{ query_params.skip }}"></label><br />
  <label>Start: <input id="start" type="number" value="{{ query_params.start }}"></label><br />
  <div class="frame-number"></div>
    <table>
        <thead>
        </thead>
        <tbody>
            {% for frame in data.frames %}
            <tr>
              
                <td class="frame-number">{{ frame.frame_number }}</td>
                {% for object in frame.objects %}
                <td>
                    <select id="frame_{{frame.frame_number}}_tracker_id_{{ object.tracker_id }}" onchange='moveTrackerIdToNewName("{{ object.tracker_id }}", this.value, "{{ data.video_path }}")'>
                        {% for name in data.tracker_names|sort %}
                            {% if name == object.tracker_name %}
                                <option value="{{ name }}" selected>{{ name }} #{{ object.tracker_id }}</option>
                            {% else %}
                                <option value="{{ name }}">{{ name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <img src="{{ url_for('crop_image', filename=data.source_filename, xy_upper_left=object.xyxy[0]|int|string+","+object.xyxy[1]|int|string, xy_bottom_right=object.xyxy[2]|int|string+","+object.xyxy[3]|int|string, frame_number=frame.frame_number) }}" alt="Cropped Image">
                    <button class="split" onclick='splitTrackerId("{{ object.tracker_id }}", "{{ frame.frame_number }}")'>Split</button></td>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
  
</div>