<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Annotator</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        /* Additional styles if needed */
    </style>
</head>
<body class="bg-gray-100">

    <div class="flex flex-col md:flex-row h-screen">
        <!-- Video List Container -->
        <div class="md:w-1/3 bg-white p-4 overflow-auto">
            <h2 class="text-lg font-semibold mb-4">List of Video Files</h2>
            <ul id="videoList" class="space-y-2">
                <!-- Video list items will be populated here -->
            </ul>
        </div>

        <!-- Video Player Container -->
        <div class="md:w-2/3 p-4 flex flex-col">
            <div class="flex-grow">
                <video id="videoPlayer" class="w-full h-full" controls></video>
            </div>
            <button id="annotateBtn" class="bg-green-500 text-white px-4 py-2 mt-4 self-start hover:bg-green-600 transition-colors">Annotate</button>

            <!-- Detected Objects Container -->
            <div class="mt-4" id="detections-table">
            </div>

            <div class="mt-4">
                <h2 class="text-lg font-semibold mb-4">LOGS</h2>
                <pre id="logs" class="bg-gray-200 p-4 overflow-auto">
                    <!-- Logs will be populated here -->
                </pre>
            </div>
        </div>


    </div>

    <script>

        var lastVideo = null;
        var lastTrackerName = null
        function loadAnnotationTable(video, {skip = 100, start = 1, total_objects = 100, tracker_name = 'all'} = {}) {
            if (!video) {
                video = lastVideo;
            }            

            if (!tracker_name && lastTrackerName) {
                tracker_name = lastTrackerName;
            }

            fetch(`/api/annotations/${video.filename.replace('.mp4', '')}?skip=${skip}&start=${start}&total_objects=${total_objects}&tracker_name=${tracker_name}`)
                .then(response => response.text())
                .then(data => {
                    const detectionsTable = document.getElementById('detections-table');
                    detectionsTable.innerHTML = data;
                    document.getElementById('refresh_annotation').onclick = () => {
                        loadAnnotationTable(video);
                    };

                    document.getElementById('load_new_frames').onclick = () => {
                        const skipInput = document.getElementById('skip');
                        const startInput = document.getElementById('start');
                        const totalObjectsInput = document.getElementById('total_objects');
                        const skip = skipInput.value ? skipInput.value : Math.floor(Math.random() * 101);
                        const start = startInput.value ? startInput.value : Math.floor(Math.random() * (video.total_frames));
                        const total_objects = totalObjectsInput.value ? totalObjectsInput.value : 100;
                        loadAnnotationTable(video, {skip: skip, start: start, total_objects: total_objects, tracker_name: tracker_name});
                    };

                    document.getElementById('load_all_frames').onclick = () => {
                        const skip = 1
                        const start = 0
                        const total_objects = 250
                        loadAnnotationTable(video, {skip: skip, start: start, total_objects: total_objects, tracker_name: tracker_name});
                    };
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            lastVideo = video;
            lastTrackerName = tracker_name;
        }


        function removePlayer(name) {
            console.log("removePlayer", name);
            var data = {
                "name": name,
                "video_path": lastVideo.filename
            };
            fetch('/api/remove_player', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Remove player success:', data);
            })
            .catch((error) => {
                console.error('Remove player error:', error);
            });
        }
        // JavaScript to handle video loading and annotation
        document.addEventListener('DOMContentLoaded', function() {
            const videoList = document.getElementById('videoList');
            const videoPlayer = document.getElementById('videoPlayer');
            const annotateBtn = document.getElementById('annotateBtn');

            // Fetch video list from backend server
            fetch('/api/videos')
                .then(response => response.json())
                .then(data => data.videos)
                .then(videos => {
                    videos.forEach(video => {
                        const listItem = document.createElement('li');
                        listItem.textContent = `${video.filename}`;
                        listItem.classList.add('cursor-pointer', 'hover:text-blue-500');
                        listItem.onclick = () => {
                            loadAnnotationTable(video);
                            loadVideo('static/' + video.full_path.split('static')[1])
                        };
                        videoList.appendChild(listItem);
                    });
                });

            // Load video into the video player
            function loadVideo(path) {
                videoPlayer.src = path;
                videoPlayer.load();
            }

            // Send video path to the backend server for annotation
            annotateBtn.addEventListener('click', () => {
                const videoPath = videoPlayer.src;
                fetch('/api/annotate', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ path: videoPath }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Annotation success:', data);
                    // Start calling /api/tail after annotation
                    let intervalId = setInterval(() => {
                        fetch('/tail')
                            .then(response => response.text())
                            .then(data => {
                                document.querySelector('#logs').innerText = `${data}`;
                                if (data.includes("COMPLETED")) {
                                    clearInterval(intervalId);
                                }
                            })
                            .catch((error) => {
                                console.error('Error:', error);
                            });
                    }, 2000);
                })
                .catch((error) => {
                    console.error('Annotation error:', error);
                });
            });
        });

        function changeTrackerName(old_name, new_name, video_path) {
            var data = {
                "old_name": old_name,
                "new_name": new_name,
                "video_path": video_path
            };
            if (old_name == new_name) {
                return;
            }
            fetch('/api/change_tracker_name', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Tracker name change success:', data);
            })
            .catch((error) => {
                console.error('Tracker name change error:', error);
            });
        }

        function moveTrackerIdToNewName(old_tracker_id, new_name, video_path) {
            console.log("moveTrackerIdToNewName", {
                old_tracker_id,
                new_name,
                video_path
            });

            var data = {
                "old_tracker_id": old_tracker_id,
                "new_name": new_name,
                "video_path": video_path
            };
            fetch('/api/move_tracker_id_to_new_name', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Tracker name change success:', data);
            })
            .catch((error) => {
                console.error('Tracker name change error:', error);
            });
        }

        function addTrackerName(new_name, video_path) {
            console.log("addTrackerName", {
                new_name,
                video_path
            });

            var data = {
                "new_name": new_name,
                "video_path": video_path
            };
            fetch('/api/add_tracker_name', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Add tracker name success:', data);
            })
            .catch((error) => {
                console.error('Add tracker name error:', error);
            });
        }
    </script>

</body>
</html>