<style>
  button { color: #fff; background-color: #4a5568; border-radius: 0.25rem; padding: 0.5rem 1rem; }
  .frame-number { font-size: 5rem; }
  table {

    font-family: "Open Sans", sans-serif;
    line-height: 1.25;

    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }

  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }

  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }

  table th,
  table td {
    padding: .625em;
    text-align: center;
    vertical-align: top;
  }

  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }


  td img { height: 150px; }

  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }

    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  
  
  }
</style>
<div>
<h2>Players</h2>
<table>
<thead>
    <tr>
        <th>Stats LInk</th>
        {% for name, value in game_data.box_score[0].items() %}
            <th>{{ name }}</th>
        {% endfor %}
    </tr>
</thead>
<tbody>
{% for row in game_data.box_score %}
    {% if row["frame_count"] != 0 %}
        <tr>
            <td><a href="/player_stats/{{filename}}.mp4?player={{ row['name'] }}">{{ row["name"] }}</a></td>
            {% for name, value in row.items() %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
    {% endif %}
{% endfor %}
</tbody>
</table>